<h1>Crear usuario</h1>

<% if @user.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@user.errors.count, "error") %> prohibited this
article from being saved:</h2>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %> 

<form method='post'action="/users/create">
  <label for="fname">Nombre:</label><br>
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input type="text" id="fname" name="name" value="John"><br>
  <label for="lname">Last Email:</label><br>
  <input type="email" id="lname" name="email" value="Doe@example.com"><br><br>
  <input type="submit" value="Submit">
</form>
